<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.noticeMapper">

<!-- 조회되는 컬럼과 setter method를 미리 매핑. -->
<resultMap type="kr.co.sist.domain.NoticeMainDomain" id="resultMain">
	<result column="NOTICE_NO" property="noticeNo" />
	<result column="NOTICE_CLASS" property="noticeClass" />
	<result column="NOTICE_TITLE" property="noticeTitle" />
</resultMap>

<!-- notice main -->
<select id="selectMainNotice"  parameterType="String" resultMap="resultMain">
select notice_no, notice_class, notice_title
from notice
<trim prefix="where" >
	<if test='!str.equals("")'>
		notice_no = '${ notice_no }'
	</if>
</trim>
</select>

<!-- 조회되는 컬럼과 setter method를 미리 매핑. -->
<resultMap type="kr.co.sist.domain.NoticeOneDomain" id="resultOne">
	<result column="NOTICE_NO" property="noticeNo" />
	<result column="NOTICE_CLASS" property="noticeClass" />
	<result column="NOTICE_TITLE" property="noticeTitle" />
	<result column="NOTICE_CONTENT" property="noticeContent" />
	<result column="NOTICE_IMG" property="noticeImg" />
	<result column="NOTICE_DATE" property="noticeDate" />
</resultMap>

<!-- notice main -->
<select id="selectOneNotice" resultMap="resultOne">
select notice_no, notice_class, notice_title, notice_content, notice_img, notice_date
from notice
where notice_no = '${ notice_no }'
</select>

<!-- notice update -->
<update id="updateNotice" parameterType="kr.co.sist.vo.NoticeModifyVO">
update	notice
set			notice_class=#{ noticeClass }, notice_title=#{ noticeTitle }, notice_content=#{ noticeContent }, notice_img=#{noticeImg}
where	notice_no=#{ noticeNo }
</update>

<!-- notice insert -->
<insert id="insertNotice" parameterType="kr.co.sist.vo.NoticeAddVO">
insert into notice
values( lpad(seq_notice.nextval,4,0),#{noticeClass}, #{noticeTitle}, #{noticeContent}, #{noticeImg} )
</insert>

<!-- notice delete -->
<delete id="deleteNotice" parameterType="String">
delete from notice
where notice_no=#{ noticeNo }
</delete>
</mapper>